mixin largeCard(card)
  article.large-card
    img.large-card__img(src=card.img alt=card.altText width=290 height=290)
    dl.large-card__information
      dt.large-card__name= card.name
      dd.large-card__price= card.price
      dt.large-card__description= card.description
      dd.large-card__valume= card.volume
